@media only screen and (min-width: 468px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .h nav {
    display: none;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    position: relative;
  }

  #logo {
    width: 30%;
    height: 100px;
  }

  #logo img {
    width: 100%;
    height: 80%;
  }
  #about{
    background-color: rgb(196, 252, 233);
  }
  #abi{
    height: 400px;
    width: 100%;
  }
  #abi img{
    height: 100%;
    width: 100%;
  }

  #line{
    line-height: 30px;
    text-align: center;
  }

  #menu{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: bisque;

  }
  .mei{
    width: 46% ;
    height: 150px;
    align-self: center;
    padding-bottom: 10px;
  }
  .mei img{
    height: 100%;
    border-radius: 10%;
  }

  #testimonial{
    padding-top: 10px;
    background-color: rgb(196, 252, 233) ;
    text-align: center;
  }
  .s{
    line-height: 25px;
  }

  footer{
    background-color: rgb(1, 62, 1);
    color: azure;
    text-align: center;
    height: 400px;
  }
  .last{
    padding: 10px;
  }
  .last nav a{
    text-decoration: none;
    color: azure;
  }
  #abt{
    text-align: center;
    color: green;
    height: 50px;
  }

  #kitchen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  #kim{
    width: 80%;
    height: 220px;
  }
  #kim img{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
  }
  
  #rewar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
  #text{
    width: 100%;
  }
  .rew{
    height: 200px;
    width: 47%;
  }
  .rew img{
    height: 100%;
    width: 100%;
  }

  #cont{
    padding-bottom: 20px;
    text-align: center;
    color: green;
    background-color:darksalmon;
  }
  #form{
    text-align: center;
    background-color: blanchedalmond;
    padding-bottom: 20px;
  }

  #sote{
    padding-top: 20px;
  }

  #sote h2{
    color:rgb(19, 13, 9);
  }

  .pp{
    padding-bottom: 20px;
  }

  .mm{
    padding-bottom: 20px;
  }

  #award{
    background-color: bisque;
    text-align: center;
    color: green;
  }
  #photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    text-align: center;
    background-color: blanchedalmond;
  }
  .phots{
    width: 46%;
    height: 160px;
  }
  .phots img{
    width: 100%;
    height: 100%;
  }

  #ac{
    text-align: center;
    color: green;
    background-color: bisque;
    padding-bottom: 20px;
  }

  #fo{
    text-align: center;
    padding-bottom: 20px;
    background-color: blanchedalmond;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #ii{

    width: 100%;
  }
  .er{
    padding-bottom: 20px;
  }
}



@media only screen and (min-width: 1200px){
  .h nav{
    display: block;
    
  }
  nav a{
    text-decoration: none;
    color: black;
    padding: 5px ;
  }
  .mei{
    width: 32%;
    height: 320px;
    padding-bottom: 10px;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .last{
    width: 30%;
    
  }
  .last nav a{
    text-decoration: none;
    color: azure;
  }
  
  #kitchen{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  #kim{
    width: 500px;
    height: 300px;
    
  }
  #kim img{
    width: 100%;
    height: 100%;
    padding-right: 30px;
  }
  .w{
    width: 47%;
  }

  #form{
    display: flex;
    flex-wrap: wrap;
  }
  .fote{
    width: 46%;
  }

  #photo{
    height: 500px;
  }
  .phots{
    width: 23%;
  }
  .phots img{
    width: 100%;
  }
}
