* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

header nav {
  display: none;
}

#logo img {
  height: 45px;
}

#bar {
  font-size: 22px;
  cursor: pointer;
}

#about {
  position: relative;
}

#abi img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

#line h3 {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

#menu {
  display: flex;
  flex-wrap: wrap;  
  padding: 20px;
  background-color: rgb(244, 244, 235);
}

.mei {
  margin-bottom: 15px;
}

.mei img {
  width: 100%;
  border-radius: 10px;
}

#testimonial {
  text-align: center;
  padding: 40px 20px;
  background: #f7f7f7;
  color: green;
}

#testimonial h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

#testimonial p {
  font-size: 14px;
  line-height: 1.6;
}

footer {
  background: #111;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  background-color: rgb(11, 40, 11);
  height: 400px;
}

.last {
  margin-bottom: 30px;
}

.last nav a {
  text-decoration: none;
  color: #bbb;
  display: block;
  margin-bottom: 8px;
}

.last nav a:hover {
  color: #fff;
}

#abt{
  text-align: center;
  padding: 60px 20px;
  background: #f8f8f8;
  background-color:#f8f8f8;
}

#abt h1{
  font-size: 32px;
}

#kitchen{
  background-color:#fff;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}
#kim{
  width: 368px;
  height: 220px;
}
#kim img{
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.w p{
  padding-bottom: 20px;
}

#rewar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
#text{
  text-align: center;
  width: 100%;
}
.rew{
  height: 150px;
  width: 200px;
  padding-bottom: 30px;
}
.rew img{
  height: 100%;
  width: 100%;
}

#cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:green;
  height: 100px;
}

#form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blanchedalmond;
  padding-bottom: 40px;
  padding-top: 40px;
}

.mm{
  padding-bottom: 20px;
}

.pp{
  padding-bottom: 20px;
}

#award{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
  color: green;
  text-align: center;
}

#photo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.phots{
  width: 350px;
  height: 275px;
}

.phots img{
  width: 100%;
  height: 100%;
}

#ac{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  color: green;
}

#fo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(248, 230, 208);
}
#ii{
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.er{
  padding-bottom: 30px;
}
#butt{
  width: 300px;
  height: 150;
  border-radius: 30%;
  background-color: green;
  color: white;
}

@media only screen and (min-width:768px) {
  header {
    padding: 20px 40px;
  }

  header nav {
    display: block;
  }

  header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #222;
  }

  #bar {
    display: none;
  }

  #abi img {
    height: 350px;
  }

  #line h3 {
    font-size: 20px;
  }

  #menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
  }

  .mei {
    width: 46%;
    margin-bottom: 20px;
    height: 232px;
  }
  .mei img{
    height: 100%;
  }

  #testimonial h2 {
    font-size: 26px;
  }

  #testimonial p {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  .last {
    width: 45%;
  }
}

@media only screen and (min-width:1200px) {
  header {
    padding: 20px 80px;
  }

  header nav a {
    margin: 0 15px;
    font-weight: 500;
  }


  #abi img {
    height: 450px;
  }

  #line {
    width: 60%;
  }

  #line h3 {
    font-size: 24px;
  }

  #menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 60px;
  }

  .mei {
    width: 30%;
    margin-bottom: 25px;
    height: 320px;
  }


  .mei img {
    transition: 0.3s;
    height: 100%;
  }

  .mei:hover img {
    transform: scale(1.06);
  }

  .last {
    width: 30%;
  }

  #kim{
    width: 500px;
    height: 300px;
  }
  #kim img{
    width: 100%;
    height: 100%;
    
  }

 .w{
  padding: 0;
  width: 46%;
 }

 #kitchen{
  justify-content: space-evenly;
 }

 .rew{
  width: 300px;
  height: 250px;
 }

 .rew img{
  width: 100%;
  height: 100%;
 }

 .fote{
  width: 46%;
 }

 .phots{
  width: 25%;
  padding-bottom: 40px;
 }
}